abuseipdb = ''
binaryedge = ''
circlpassive = '{USER}:{SECRET}'
ciscoumbrella = ''
domaintools = '{USER}:{SECRET}'
filescanio = ''
googlesafebrowsing = ''
greynoise = ''
hybridanalysis = ''
ip2location = ''
joesandbox = ''
linkpreview = ''
maltiverse = ''
malwarebazaar = ''
malwarehashregistry = '{USER}:{SECRET}'
misp = ''
onyphe = ''
opswat = ''
otx = ''
phishtank = ''
pulsedive = ''
spamhausintel = '{USER}:{SECRET}'
stairwell = ''
sublime = ''
threatfox = ''
triage = ''
urlscan = ''
virustotal = ''
whoisxml = ''
xforce = '{USER}:{SECRET}'
