abuseipdb = ''
binaryedge = ''
circlpassive = '{USER}:{SECRET}'
domaintools = '{USER}:{SECRET}'
googlesafebrowsing = ''
greynoise = ''
hybridanalysis = ''
linkpreview = ''
maltiverse = ''
malwarebazaar = ''
malwarehashregistry = '{USER}:{SECRET}'
misp = ''
onyphe = ''
otx = ''
phishtank = ''
pulsedive = ''
spamhausintel = '{USER}:{SECRET}'
sublime = ''
threatfox = ''
urlscan = ''
virustotal = ''
whoisxml = ''
xforce = '{USER}:{SECRET}'
