abuseipdb = ''
circlpassive = '{USER}:{SECRET}'
domaintools = '{USER}:{SECRET}'
googlesafebrowsing = ''
maltiverse = ''
onyphe = ''
otx = ''
phishtank = ''
pulsedive = ''
virustotal = ''
whoisxml = ''