abuseipdb = ''
circlpassive = '{USER}:{SECRET}'
domaintools = '{USER}:{SECRET}'
googlesafebrowsing = ''
hybridanalysis = ''
linkpreview = ''
maltiverse = ''
misp = ''
onyphe = ''
otx = ''
phishtank = ''
pulsedive = ''
spamhausintel = '{USER}:{SECRET}'
sublime = ''
virustotal = ''
whoisxml = ''